
.parent {
  background-color: #eaebee;
  padding: 60px 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bookli {
  background-color: #fff;
  padding: 20px 20px;
  border: 1px solid #ccc9c9;
  border-radius: 20px;
}

.main {
  margin: 12px 0 12px 0;
}

.main h2 {
  font-size: 30px;
}

.bookAuthor {
  font-size: 20px;
  color: #bebcbc;
}

.nav {
  display: flex;
  text-decoration: none;
  justify-content: space-around;
  background-color: #fff;
  align-items: center;
  height: 89px;
}

.logo,
.user {
  text-decoration: none;
  color: #0290ff;
  font-weight: bold;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.nav-links li {
  list-style-type: none;
}

.links {
  text-decoration: none;
  color: #bebcbc;
  font-size: 20px;
}

.icon {
  text-decoration: none;
  list-style-type: none;
}

.list {
  display: flex;
  gap: 10px;
}

.comment {
  text-decoration: none;
  color: #bebcbc;
  border-right: 1px solid #bebcbc;
  padding-right: 20px;
  font-size: 20px;
}

.edit {
  text-decoration: none;
  color: #bebcbc;
  padding-left: 5px;
  font-size: 20px;
}

.hr {
  margin-top: 35px;
}

.form {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 40fr 40fr 20fr;
  gap: 10px;
  height: 40px;
}

.formheading {
  font-size: 30px;
  color: #888;
}

.inpField,
.btn {
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}

.inpField {
  padding-left: 7px;
}
